<div class="bg-primary-3 w-full h-screen ">
  <div
    class="md:w-[61.875rem] relative top-1/2 left-0 ring-0 bottom-0 mx-auto  rounded-[0.625rem] bg-white -translate-y-1/2 flex">
    <div>
      <div class="bg-rectangle-2192 bg-cover px-6  pt-8 rounded-l-[0.625rem]">
        <img src="assets/images/tdental-text.svg" alt="tdental-text" class="mb-10 h-12 ">
        <h4 class="text-heading-4  text-white mb-16 font-sans pr-12">
          Phần mềm quản lí Nha khoa TDental
        </h4>
        <img src="assets/images/Frame-login.svg" alt="Frame-login" class="pb-16">
      </div>
    </div>
    <div class="relative mx-auto flex items-center">
      <router-outlet class="mx-auto"></router-outlet>
      <div class=" text-[#CDD3DB] text-title-1 flex justify-center absolute bottom-4  left-0 right-0 font-semibold">
        <div>
          TMT
        </div>
        <div class="mx-1 -translate-y-1 ">
          &copy;
        </div>
        <div>
          2022
        </div>
      </div>
    </div>
  </div>
</div>