<div class="w-full bg-white  rounded mt-12">
    <h2 class="text-heading-2 text-primary-1 mb-6 text-center font-semibold">Quên mật khẩu</h2>
    <div class="text-body-2 w-100 mb-6">
        Nhập địa chỉ email liên kết với tài khoản của bạn, hệ thống sẽ gửi mật khẩu mới về email trong giây lát.
    </div>
    <div class="text-neutral-1-900 font-semibold mb-2 w-full text-body-2">Email</div>
    <tds-form-field tdsClass="border-0 border-transparent border-b  ring-0" class="mb-6 ">
        <input autocomplete="off" tdsInput autocomplete="off" placeholder="Nhập Email" [formControl]="email"
            [required]="true" class="rounded" />
        <tds-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</tds-error>
    </tds-form-field>
    <div class="w-full flex flex-col justify-center">
        <button class="w-full" size="lg" tds-button type="submit" (click)="onSubmit()" [disabled]="!email.valid"
            color="primary">Gửi
        </button>
    </div>
</div>