// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
// @import "./assets/scss/cdk";
// @import "./assets/scss/scroll";
// @import "./assets/scss/table";
// @import "./assets/demo-files/demo";
// @import "./assets/style.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/tds-ui/assets/scss/cdk.scss";
@import "../node_modules/tds-ui/assets/scss/scroll";
@import "../node_modules/tds-ui/assets/scss/table";
@import "./assets/demo-files/demo";
@import "./assets/style.css";

[cdkoverlayorigin] {
    @apply py-2.5;
}
.ct-tds-tabset-nav tds-tabs-nav {
    padding: 0 !important;
}
.ct-tds-tabset-nav .tds-tabs-tabpane {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.ct-bg-form-field-container [tds-form-field-container] {
    @apply bg-neutral-3-100;
}
.ct-tds-tabset-nav-collapsed [cdkoverlayorigin] {
    @apply p-0;
}
.btn-st {
    @apply px-2;
    @apply items-center;
    @apply text-xl;
    @apply flex;
    @apply rounded-md;
    @apply border-1;
    @apply border-[#CDD3DB];
    @apply border-solid;
}

.text-ss-4 {
    @apply font-semibold text-xs text-success-400;
}
.btnStatus {
    @apply border-success-300 px-2 rounded bg-success-100 border-solid ;
    @apply items-center justify-center border-1 flex py-0.5;
    @apply text-ss-4;
}
