<div class="w-full flex justify-between bg-white pt-4 border-t-1">
  <div>
    <tds-page-header class="text-heading-1 text-neutral-1-900 font-semibold st-page-header" title="Khách hàng">
    </tds-page-header>
  </div>
  <div class="flex items-center px-4 pb-4">
    <button tds-button color="primary" class="mr-3 ">
      <span class="flex items-center">
        <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm mới
      </span>
    </button>
    <i class="tdsi-three-dots-horizon-fill"></i>
  </div>
</div>
<!-- table -->
<div class="mt-4 mx-4 rounded-xl bg-white flex relative">
  <div>
    <div class=" ml-4">
      <app-nav-filter [listNavOrderState]="filterOrderState" (iChangenavOrderState)="iChangenavOrderState($event)">
      </app-nav-filter>
    </div>
    <div class="w-[102rem] pb-4">
      <tds-table showSizeChanger [listData]="listDataCustomer?.items" [frontPagination]="false" [total]="total"
        [(pageSize)]="pageSize" [frontPagination]="false" [(pageIndex)]="pageIndex" [(showTotal)]="total"
        (queryParams)="onQueryParamsChange($event)" [loading]="loading" class="st-thead "
        [scroll]="{ x: '62.5rem', y:'40rem'}" [pageSizeOptions]="[ 20, 50, 100, 200]">
        <thead>
          <tr class="py-2">
            <!-- head table -->
            <ng-container *ngFor="let item of displayOptions">
              <th [columnKey]="item.key" [width]="item.width" *ngIf="basicDisplayOptions.includes(item.key)">
                {{item.value}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listDataCustomer?.items |filterCol:basicDisplayOptions ">
            <td>
              <div class="flex">
                <div class="mr-2">
                  <tds-avatar class="bg-gray-400 text-white" icon="tdsi-user-line" *ngIf="!data.avatar"></tds-avatar>
                </div>
                <div>
                  <div class="text-info-400 font-semibold text-sm">{{data.name}}</div>
                  <div class="text-neutral-1-400 font-normal text-xs">
                    {{data.ref}}
                  </div>
                </div>
              </div>
            </td>
            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('phone')">{{data.phone ||
              '-'}}</td>
            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('dateOfBirth')">
              {{data.dateOfBirth || '-'}}</td>
            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('age')">{{data.age || '-'}}
            </td>
            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('appointmentDate')">
              {{data.appointmentDate | date: 'dd/MM/yyyy'
              }}
            </td>
            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('saleOrderDate')">
              {{data.saleOrderDate | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              <div class="btnStatus">
                {{data.valueOrderState || '-'}}</div>
            </td>

            <td class="text-body-2 text-neutral-1-900 " *ngIf="basicDisplayOptions.includes('orderResidual')">
              {{data.orderResidual || '-'}}</td>
            <td *ngIf="basicDisplayOptions.includes('totalDebit')">{{data.totalDebit || '-'}}</td>
            <td *ngIf="basicDisplayOptions.includes('cardTypeName')">
              <div *ngIf="data.cardTypeName" class="flex w-full text-body-2  items-center text-warning-400">
                <i class="tdsi-crown-fill mr-1 "> </i>
                {{data.cardTypeName || '-'}}
              </div>
              <div *ngIf="!data.cardTypeName" class="items-center"> -</div>
            </td>
            <td *ngIf="basicDisplayOptions.includes('categories')">
              <div>
                <ng-container *ngIf="data.categories.length > 0">
                  <button *ngFor="let item of data.categories"
                    class="border-1 border-solid rounded px-2 py-0.5 text-xs font-semibold items-start mb-1"
                    [appLabelCategories]="item.id">
                    {{item.name || '-'}}
                  </button>
                </ng-container>
                <app-popover-categories [dataPopoverCatergories]="dataPartnercategories"
                  [valuePopoverCatergories]="data.categories"
                  (valuePopoverCatergoriesChange)="valuePopoverCatergoriesChange($event, data.id)">
                </app-popover-categories>
              </div>
            </td>
            <td *ngIf="basicDisplayOptions.includes('companyName')" class="text-body-2 text-neutral-1-900 ">
              {{data.companyName}}
            <td>
              <div class="flex justify-evenly">
                <app-manipulation [icon]="'tdsi-edit-fill'"></app-manipulation>
                <app-manipulation [icon]="'tdsi-trash-fill'"></app-manipulation>
                <app-manipulation [icon]="'
            tdsi-eye-close-fill'"></app-manipulation>
              </div>
            </td>
          </tr>
        </tbody>
      </tds-table>
    </div>
  </div>

  <div class="flex right-2 top-2 absolute ">
    <tds-form-field class="min-w-[23.125rem] max-w-2xl stfield mr-2 focus-visible:outline-hidden ">
      <tds-select valueField="id" textField="name" placeholder='Lọc theo nhãn' (selectChange)="onSelectChange($event)"
        [(open)]="isOpenFilterSelect" [data]="dataPartnercategories" [allowClear]="true" mode="multiple">
      </tds-select>
    </tds-form-field>
    <app-search-automatic [(value)]="searchAll" (valueChange)="switchedChange($event)"
      placeholder="Tìm kiếm theo mã, họ tên, SĐT, số ID thẻ" class="w-[23rem] mr-2"></app-search-automatic>
    <div class="flex max-h-9">

      <button class="mr-2 btn-st bg-white" tds-popover [popoverContent]="contentTrackingStatus"
        popoverPlacement="bottomRight" popoverTrigger="click" [popoverFooter]=""
        [(popoverVisible)]="isVisibleRadioStatus">
        <i class="tdsi-filter-2-line"></i>
      </button>
      <button class="mr-2 btn-st bg-white" tds-popover [popoverContent]="contentPopoverPartners"
        popoverPlacement="bottomRight" popoverTrigger="click" [popoverFooter]="" [(popoverVisible)]="isVisiblePartners">
        <i class="tdsi-column-setting-fill"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #contentTrackingStatus>
  <div class="w-100">
    <app-button-radio-status [dataRadioStatus]="dataRadioStatus" [(visibleRadioStatus)]="isVisibleRadioStatus"
      (dataRadioStatusChange)="filterRadioStatus($event)">
    </app-button-radio-status>
  </div>
</ng-template>

<ng-template #contentPopoverPartners>
  <div class="w-64">
    <div *ngFor="let data of basicDisplayOptions" class="mb-8">
      <div class="text-body-2 font-semibold mb-3">
        Tùy chọn hiển thị
      </div>
      <div class="flex w-full">
        dsadas
      </div>
    </div>
    <div class="flex justify-end items-center border-t-1 pt-3 border-neutral-1-200">
      <div class="flex ">
        <button tds-button color="secondary" class="mr-2 w-20" size="sm" (click)="close1()">
          Đóng
        </button>
        <button tds-button size="sm" class="w-20" (click)="apply1()">
          Lưu
        </button>
      </div>
    </div>
  </div>
</ng-template>